<md-dialog class="test" ng-controller="showPoll" aria-label="addPoll" ng-cloak>
    <md-dialog-content layout-padding>
        <div class="md-dialog-content">
            <div id="top">
                 <h3 id="name">{{active.data.attributes.name}}</h3>
                <md-button ng-click="cancel() " id="close" class="md-icon-button md-primary">
                <md-icon md-svg-src="images/icons/ic_close_white_24px.svg"></md-icon>
                </md-button>
                
                <md-button id="settings" class="md-icon-button md-primary">
                <md-icon md-svg-src="images/icons/ic_settings_white_24px.svg"></md-icon>
                </md-button>
                
                <p id="timeEnds"><!--Slutar:--> {{active.data.attributes.expires}}</p>
            </div>
            
            <div id="restaurants">
                <h4>Restauranger:</h4> <br>
                <p>
                <b ng-repeat="restaurant in active.data.relationships.restaurants.data">{{restaurant}} <br/>
                </b> 
                </p>
               <!-- <p>ID: {{active}} </p> 
                <p>allowNewRestaurants: {{active.data.attributes.allowNewRestaurants}} </p>
                <p>created: {{active.data.attributes.created}} </p>-->
            </div>
            
            <!--<p>Användare: </p>-->
            <hr>
            <div id="bottom">
            <p id="user" ng-repeat="user in getPollUsers()">Namn: {{user.name}}</p>
            <md-button id="sharebutton" class="md-raised md-primary">Share</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>