/*Dialogrutan*/

md-dialog{
    background-color: #FAFAFA;
    max-height: 92%;
    width: 500px;
}

/*Header*/

#toolbar{
    background-color: #616161;
    padding: 2%;
}

#dialogheader{
    font-size: 55px;
    font-family: borg;
}

/*Knappar*/

.md-raised{
    padding: 5px;
}

/*Lägg till restauranger*/

#clear{   
    background-color: #ffffff;
    color: #616161;
}

#addrest{   
    background-color: #ffffff;
    color: #616161;    
}
/*Skapa eller avbryt skapning av omröstning*/
#cancel{   
    background-color: #ffffff;
    float: right;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #616161;
}

#addpoll{   
    background-color: #00B8D4;
    margin-top: 30px;
    float: right;
    margin-left: 10px;
    color: #fafafa;
}

#add{
    margin-top: 10px;
}

#bottom{
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Välja tid för omröstning*/


/*Ange sluttid*/
#sluttid{
    color: #616161;
    font-size: 19px;
}

/*Tim och minut label*/

#hourlabel{
    color: #616161;
    margin-bottom: 30px;
    
}

#minutelabel{
    color: #616161;
    margin-bottom: 30px;
    margin-left: 60px;
    
}

select{
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    background-color: #bdbdbd;
    color: #fafafa;    
}

#hourselect{
    margin-right: 10px;
}


select option{
    background-color: #bdbdbd;
}


/*Checkbox "Endast jag får lägga till restauranger"*/

md-checkbox.md-checked.checkboxpermission .md-icon {
 background-color: #00B8D4;
}

/*Inputfält*/

#lunchname{
    font-size: 25px;
    color: #616161;
}

md-input-container.md-block {
    margin-bottom: 5px;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #00B8D4;
    font-family: Aileron;
    margin-bottom: 2px;
}   