#login{
    float: left;
    display:block;
    width:50%;
    padding
}

/*Dialogfönster för registrera eller logga in*/
#container{
    background-color: #fafafa;
    font-weight: bold;
}

/*Header för logga in och registrera*/

.login-register_header{
    font-size: 2em;
}
/*Registrera användare*/

#register{
    float: right;
    display:block;
    background-color: #fafafa;
    width:50%;
}

#loginemail, #loginpassword, #regname, #regemail, #regpassword{
    width: 100%;
}

#loginemail{
    padding: 0;
    margin: 0;
}
#register_form{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 1px solid #616161;
    background-color: #fafafa;
    width:100%;
}
#register_button{
    background-color: #00B8D4;
    
}

#register_form{
    background-color: #fafafa;
}

/*Logga in som användare*/

#login{
    display: inline-block;  
    float: left;
    margin-top: 3px;
}

#login_form{
    background-color: #fafafa;
    width:100%;
}

#container{
    background-color: #fafafa;
    font-weight: bold;
    margin-top: 10px;
}

#login_button{
    min-width: 50%;
    background-color: #00B8D4;
}

#register_button{
    background-color: #00B8D4;
    min-width: 50%;
    float: right;
    margin-bottom: 5px;
}



/*Avbryt aktivitet*/

#cancel_login-register{
    background-color: #ffffff;
    color: #616161;
    float:right;
    clear: both;

}

/*"Fortsätt som" dialog ruta*/


#continue_dialog{
}

.continueToPoll{
    background-color: #fafafa;
    float: left;
}

#continueButton{
    margin-top: 0px;
    background-color:#00B8D4;
}
/*Fortsätt som inloggad användare*/
#continue_as_user{
    background-color: #fafafa;
    color: #616161;
}

#continue_as_user:hover{
    background-color: #00B8D4;
    color: #fafafa;
}
/*Fortsätt som anonym */
#anonymous_button{
    background-color: #fafafa;
    color: #616161;
    float: left;
    margin-top:10px;
}

@media (max-width:535px) { /* everythig except portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    #register {
        float: left;
        width: 90%;
    }
    #register_form{
        width: 100%;
}

    #register_button{
        float: right;
        
}
    #login{
        width: 90%;

}
    #login_form{
        width: 100%;
}
    #login_button{
        float: right;
}
    .login-register_header{
        font-size: 2em;
    }
       