/*POPUP WINDOW ON A MAP MARKER*/
.leaflet-popup{
    margin-bottom: 45px;
}

.leaflet-popup-content-wrapper{
    background-color: #E0E0E0;
    font-family: raleway-thin, arial, sans-serif;
    font-size: 1.5em;
    color: #424242;
    font-weight: bold;
    text-align: center;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: #E0E0E0;
}

/*Popup content*/
.leaflet-popup-content{
    padding-top: 0px !important;
    border-radius: 10px;    
    width: 260px;
}

/*Popup images*/

#image_content{
    background-color: #E0E0E0;
    border-radius: 10px;
    position: relative;
}

#image_content img{
    margin-top: 10px;
    width: 240px;
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 5px;  
}


/*Restaurant name*/
#image_content p{
    color: #fafafa;   
}

#image_content span {
    position: absolute;
    bottom: 6px;
    left: 18px;
    color: #fafafa; 
    letter-spacing: -1px;  
    background: rgba(66, 66, 66, 0.73);
    padding: 7px; 
    font-size: 24px;
    max-width: 70%;
    text-align: left;
}

/*Rating*/

#rating{
    position: absolute;
    top: -10px;
    left: 18px;
    color: #fafafa; 
    letter-spacing: -1px;  
    background: rgba(66, 66, 66, 0.73);
    padding: 3px;
    padding-right: 23px;
    padding-bottom: 8px;
    font-size: 22px;
    max-width: 40%;
    text-align: left;
    font-family: raleway-thin
}

#rating i{
    position: absolute;
    left: 54px;
    top: 2px;
}
/*Popup button that opens "more info" menu*/
#more_info_1{
    z-index: 2;
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 3.5em;
    color: #f5f5f5;
}
#more_info_1:focus {
    outline: 0;
}
#more_info_1:hover {
    opacity: 0.9;
}
/*Icon background*/
#more_info_2{
    z-index: 1;
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 3.5em;
    color: #424242;
}
/*Button for adding  restaurant to poll*/
#add_to_poll_1 {
    z-index: 2;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 4.5em;
    color: #00B8D4;
    text-shadow: 1px 2px #818181;
}
#add_to_poll_1:focus {
    outline:0;
}
/*Icon background*/
#add_to_poll_2 {
    z-index: 1;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 4.5em;
    color: #E0E0E0;
    text-shadow: 1px 2px #818181;
}
/*Create poll button when hovering*/
#add_to_poll_1:hover {
    opacity: 0.7;
}
/*Tillagda restauranger i omröstningen*/
#added_restaurants{
    background-color: rgba(158, 158, 158, 0.9);
    position:absolute;
    border-radius: 10px;
    bottom:20px;
    right: 5%;
    z-index:2;
    padding:20px;
    max-width:380px;
}
#add_to_poll{
    background-color: #00B8D4;
}
@media (max-width:641px) { /* everythig except smartphones, iPhone, portrait 480x320 phones */
    .leaflet-popup-content{
    padding-top: 0px !important;
    border-radius: 10px;    
    width: 180px;
}
    #image_content img{
    margin-top: 10px;
    width: 160px;
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 5px;
}
    #more_info_1{
    z-index: 2;
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 2em;
    color: #f5f5f5;
}
/*Icon background*/
#more_info_2{
    z-index: 1;
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 2em;
    color: #424242;
}
#image_content span {
    position: absolute;
    bottom: 6px;
    left: 18px;
    color: #fafafa; 
    letter-spacing: -1px;  
    background: rgba(66, 66, 66, 0.73);
    padding: 3px; 
    font-size: 19px;
    max-width: 70%;
    text-align: left;
    font-weight: bold;
}    
#rating{
    position: absolute;
    top: -15px;
    left: 18px;
    color: #fafafa; 
    letter-spacing: -1px;  
    background: rgba(66, 66, 66, 0.73);
    font-size: 19px;
    max-width: 40%;
    text-align: left;
    font-family: raleway-thin;    
}  
#rating i{
    position: absolute;
    left: 47px;
    top: 2px;
}    
}