/*POPUP WINDOW*/
.leaflet-popup{
    margin-bottom: 45px;
}

.leaflet-popup-content-wrapper{
    background-color: #bdbdbd;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: #bdbdbd;
}

/*Popup content*/
.leaflet-popup-content{
    padding-top: 0px !important;
    border-radius: 10px;    
    width: 260px;
}

/*Popup images*/

#image_content{
    background-color: #fefefe;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

#image_content img{
    width: 240px;
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 5px;
}


/*Restaurant name*/
#image_content p{
    color: #fafafa;
    
}

#image_content span {
    position: absolute;
    bottom: 30px;
    left: 13px;
    color: #fafafa; 
    letter-spacing: -1px;  
    background: rgba(97, 97, 97, 0.73);
    padding: 3px; 
    font-size: 22px;
    max-width: 70%;
}

/*Rating stars*/

#rating_stars{
}


/*Popup button that says mer info*/
.trigger{
    border: none;
    font-size: 14px;
}
/*Container for Popup button that says mer info*/
#moreInfoButtonContent {
    width: 140px;
    text-align: right;
    padding-top: 4px;
    
}

/*Create poll button when hovering*/
#createPollIcons:hover {
    opacity: 0.7;
}
/*Create poll icon making the plus sign bigger*/
#createPollIcons {
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 90px;
    font-size: 6em;
    color: #fafafa;
    text-shadow: 1px 2px #818181;
}