/*POPUP WINDOW*/
.leaflet-popup{
    margin-bottom: 45px;
}

.leaflet-popup-content-wrapper{
    background-color: #eeeeee;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: #eeeeee;
}

/*Popup content*/
.leaflet-popup-content{
    padding-top: 0px !important;
    border-radius: 10px;    
    width: 260px;
}

/*Popup images*/

#image_content{
    background-color: #eeeeee;
    border-radius: 10px;
    position: relative;
}

#image_content img{
    margin-top: 10px;
    width: 240px;
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 5px;
}


/*Restaurant name*/
#image_content p{
    color: #fafafa;
    
}

#image_content span {
    position: absolute;
    bottom: 2px;
    left: 13px;
    color: #fafafa; 
    letter-spacing: -1px;  
    background: rgba(66, 66, 66, 0.73);
    padding: 7px; 
    font-size: 24px;
    max-width: 70%;
}

/*Rating stars*/

#rating_stars{
    }


/*Popup button that says mer info*/

#more_info_1{
    z-index: 2;
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 5em;
    color: #f5f5f5;
    text-shadow: 1px 2px #616161;
}

#more_info_2{
    z-index: 1;
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 5em;
    color: #424242;
}


/*Create poll icon making the plus sign bigger*/
#add_to_poll {
    z-index: 1;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 5em;
    color: #00B8D4;
    text-shadow: 1px 2px #818181;
}

/*Create poll button when hovering*/
#add_to_poll:hover {
    opacity: 0.7;
}