/*
Author: CMD 
Description: Eats helps you decide where to go and eat lunch.
Version: 1.0
Tags: Eats, CMD, Choose Meet Dine

Colors
Alabaster       #FAFAFA     250,250,250
Wild Sand       #F5F5F5     245,245,245
Gallery         #EEEEEE     238,238,238
Mercury         #E0E0E0     224,224,224
Silver          #BDBDBD     189,189,189
Silver Chalice  #9E9E9E     158,158,158
Boulder         #757575     117,117,117
Dove Gray       #616161     97,97,97
Mine Shaft      #424242     66,66,66
Mine Shaft-1    #212121     33,33,33

*/

/* RESETS: md-button., md-list */
.md-button, md-list-item .md-list-item-inner, md-list-item, .md-subheader-inner, .leaflet-popup-content, .leaflet-popup-content-wrappe{
    margin:0;
    padding:0;
    min-width:0;
    min-height:0;
    line-height:normal;
    font-family: open sans, arial;
}

/*HTML,BODY*/
html,body {
    height: 100%;
    overflow-x: hidden;
    font-family: open sans, arial;
    font-size: 14px;
}

/*MAP*/
#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 0;    
}

/*--------------------LEAFLET STUFF-------------------*/
/*Zoom and show me where I am buttons*/
.leaflet-bar{
    zoom: 130%;
    border:none;
    border-radius: 0px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*Zoom in and zoom out controls */
.leaflet-control-zoom-in, .leaflet-control-zoom-out{
    color:transparent!important;
}
/*Show me where I am button container*/
.leaflet-bar a, .leaflet-bar a:hover{
    text-align: -webkit-center;
    border:none;
}
/*Show me where I am icon*/
.leaflet-control-locate a{
    padding:2px;
}

/*POPUP*/
.leaflet-popup{
    margin-bottom: 45px;
}

/*Popup content wrapper*/
leaflet-popup-content-wrapper{
    border:none!important;
}

/*Popup content*/
.leaflet-popup-content{
    padding-top: 0px !important;
    width: 160px;
    padding: 10px;
}
/*Popup images*/
.leaflet-popup-content img{   
    width: 140px;
}
/*Popup button that says mer info*/
.leaflet-popup-content .trigger{
    border: none;
    font-size: 14px;
}
/*Container for Popup button that says mer info*/
#moreInfoButtonContent {
    width: 140px;
    text-align: right;
    padding-top: 4px;
}

/*---------------MAIN MENU & FILTER MENU-------------*/
/*Buttons*/
#menubuttons{
    background: #FAFAFA;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.menubutton{
    font-size: 180%;
    border-radius: 0px;
    padding:5px 10px;
    float: left;
}

/*Menu content*/
md-sidenav{
    display:block;
    height:100vh;
    z-index: 3;
    overflow: hidden;
    padding-top: 45px;
}
md-backdrop.md-sidenav-backdrop{
    z-index:2;
}

/*-------------------MAIN MENU-----------------------*/
/*Main menu links to profile and settings*/
.linksInMainMenu{
    padding-left:20px!important;
    padding-right:20px!important;
    margin-top:10px!important;
    cursor:pointer;
}

/*LOGIN*/
/*Login button i main menu*/
.login{
    width:50%;
    height:30px;
}

/*FILTER MENU*/
/*Filter menu undertitles*/
.filter-undertitle {
    font-size: 14px;
    padding: 10px;
}
/*First undertitle in filter menu*/
#filterMenuContent{
    margin: 20px;
}

/*Checkboxes*/
#filterMenuChoices{
    width: 100%;
    margin-top: 20px;
}

/*Filter menu star rating*/
.star-rating {
    line-height: 32px;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

/*--------------------CREATE POLL---------------------*/
/*Create poll button*/
#createPollButton {
    padding:0;
    z-index: 2;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: none;
    border-radius: 50%;
    zoom: 130%;
}
/*Create poll button when hovering*/
#createPollIcon:hover {
    opacity: 0.7;
}
/*Create poll icon making the plus sign bigger*/
#createPollIcon {
    font-size: 72px;
}

/*-------------MORE INFO ABOUT RESTAURANTS------------*/
/*Infoslider with more info about restaurant*/
#moreInfoSlider .md-no-proxy {
    padding:10px!important;
}
/*Infoslider content width*/
.infomenu{
    width: 500px;
}
/*Infoslider img width*/
.infoimg{
    width: 350px;
}

/*Add restaurant button for save restaurant*/
.saveRestaurantButton{
    position:absolute;
    right: 20px;
    bottom: 100px;
    z-index:2;
}


/*hide md-dialog-container*/
.display-none-md-dialog-container, .display-none-md-dialog-backdrop, .display-none-md-scroll-mask, .display-none-addRestaurantPopup{
    display: none !important;
}
/*hide link to leaflet*/
.leaflet-control-attribution a{
    display: none!important;
}