/*FONTS*/
@font-face {
    font-family: aileron;
    font-weight: bold;
    src: url("/css/fonts/aileron/Aileron-SemiBold.otf")
        format("opentype");
}

@font-face {
    font-family: borg;
    src: url("/css/fonts/borg/Borg.ttf")
        format("opentype");
}


/* RESETS: md-button., md-list */
.md-button, md-list-item .md-list-item-inner, md-list-item, .md-subheader-inner, .leaflet-popup-content, .leaflet-popup-content-wrappe{
    margin:0;
    padding:0;
    min-width:0;
    min-height:0;
    line-height:normal;
    font-family: aileron, open sans, arial;
}

/*HTML,BODY*/
html,body {
    height: 100%;
    overflow-x: hidden;
    font-family: aileron, open sans, arial;
    font-size: 14px;
}

.md-toolbar-tools{
    font-family: borg, aileron, open sans, arial;
    font-size: 42px;
}


/*MAP*/
#map {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    height: 100%;
    z-index: 0;    
}

/*LEAFLET BAR*/
/*Zoom and show me where I am buttons*/
.leaflet-bar{
    border:none;
    border-radius: 0px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*Zoom in and zoom out controls */
.leaflet-control-zoom-in, .leaflet-control-zoom-out{
    color:transparent!important;
}
/*Show me where I am button container*/
.leaflet-bar a, .leaflet-bar a:hover{
    text-align: -webkit-center;
    border:none;
}
.leaflet-control-locate a{
    padding:2px;
}

/*MAIN MENU & FILTER MENU*/
/*Buttons*/
#menubuttons{
    position: absolute;
    top: 0;
    left: 0;
    background: #FAFAFA;
    z-index: 4;
}
.menubutton{
    font-size: 160%;
    border-radius: 0px;
    padding:5px 10px;
    float: left;
}

/*Menu content*/
md-sidenav{
    display:block;
    height:100vh;
    z-index: 3;
    padding-top:40px;
    overflow: hidden;
}
md-backdrop.md-sidenav-backdrop{
    z-index:2;
}

/*MAIN MENU*/
/*Main menu links to profile and settings*/
.linksInMainMenu{
    padding-left:20px!important;
    padding-right:20px!important;
    margin-top:10px!important;
    cursor:pointer;
}
.linksInMainMenu:hover{
    background-color:#EEEEEE;
}

/*LOGIN*/
/*Login button i main menu*/
.login{
    width:50%;
    height:30px;
}

/*FILTER MENU*/
/*Filter menu undertitles*/
.filter-undertitle {
    font-size: 14px;
    padding: 10px;
}
/*First undertitle in filter menu*/
#filterMenuContent{
    margin: 20px;
}

/*Checkboxes*/
#filterMenuChoices{
    width: 100%;
    margin-top: 20px;
}

/*Filter menu star rating*/
.star-rating {
    line-height: 32px;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

/*CREATE POLL*/
/*Create poll button*/
#createPollButton {
    padding:0;
    z-index: 2;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: none;
    border-radius: 50%;
}
/*Create poll button when hovering*/
#createPollIcon:hover {
    opacity: 0.7;
}
/*Create poll icon making the plus sign bigger*/
#createPollIcon {
    font-size: 6em;
    color: #00B8D4;
    text-shadow: 1px 2px #818181;
    
}

/*POPUP*/
/*Popup content wrapper*/
leaflet-popup-content-wrapper{
    border:none!important;
}

/*Popup content*/
.leaflet-popup-content{
    padding-top: 0px !important;
    width: 160px;
    padding: 10px;
}
/*Popup images*/
.leaflet-popup-content img{   
    width: 140px;
}
/*Popup button that says mer info*/
.leaflet-popup-content .trigger{
    border: none;
    font-size: 14px;
}
/*Container for Popup button that says mer info*/
#moreInfoButtonContent {
    width: 140px;
    text-align: right;
    padding-top: 4px;
}

/*MORE INFO ABOUT RESTAURANTS*/
/*Infoslider with more info about restaurant*/
#moreInfoSlider .md-no-proxy {
    padding:10px!important;
}
/*Infoslider content width*/
.infomenu{
    width: 500px;
}
/*Infoslider img width*/
.infoimg{
    width: 350px;
}

/*Add restaurant button for save restaurant*/
.saveRestaurantButton{
    position:absolute;
    right: 20px;
    bottom: 100px;
    z-index:2;
}

/*hide md-dialog-container*/
.display-none-md-dialog-container, .display-none-md-dialog-backdrop, .display-none-md-scroll-mask, .display-none-addRestaurantPopup{
    display: none !important;
}
/*hide link to leaflet*/
.leaflet-control-attribution a{
    display: none!important;
}