<!-- <md-dialog ng-controller="authJwt" aria-label="addPoll" ng-cloak> -->
<md-dialog aria-label="addPoll" ng-cloak>

  <div ng-controller="createPoll">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1 ng-hide="loading">Skapa ny omröstning</h1>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>

    <md-dialog-content layout-padding>

      <div class="md-dialog-content ">

        <!--Shows error from POST-request, resets at every atempt -->

        <form name="addPoll " ng-submit="regPoll()" novalidate>

          <div layout-gt-sm="row ">
            <md-input-container class="md-block " flex-gt-sm>
              <label>Ange namn för omröstning</label>
              <input id="lunchname" ng-model="form.data.name " type="text " value="name" name="pollName" md-maxlength="65" required>
              <div ng-messages="addPoll.pollName.$error" ng-if="addPoll.pollName.$dirty">
                  <div ng-message="required">Du måste fylla i ett Namn för omröstningen!</div>
                  <div ng-message="md-maxlength">Namnet får max vara 65 bokstäver!</div>
              </div>
            </md-input-container>
          </div>

          <!--        Välj tid för omröstning               -->

          <p id="sluttid">Ange sluttid för omröstningen</p>
          <div layout-gt-sm="row ">
            <md-input-container class="md-block " flex-gt-sm>

              <label id="hourlabel">Timme</label>
              <select id="hourselect" ng-model="form.data.hour" ng-options="n for n in [] | range:0:23:1"></select>
              <label id="minutelabel">Minut</label>
              <select ng-model="form.data.minute" ng-options="n for n in [] | range:0:55:5"></select>
            </md-input-container>
          </div>
          <p ng-hide="error">Omröstningen avslutas idag kl: <strong>{{form.data.hour}}:{{form.data.minute}}</strong></p>

          <!--   DEPRECATED - fanns fram tills länken fungerade

              Lägg till användare i omröstningen

          <div layout-gt-sm="row ">
            <md-input-container class="md-block " flex-gt-sm>
              <label>Lägg till användare med id</label>
              <input ng-model="form.data.users " type="text " value="userId ">
            </md-input-container>
          </div> -->

          <!--        Checkbox för "Endast jag får lägga till restauranger"              -->

          <!-- NOTE: eftersom att det inte går lägga till restauranger efter att omröstningen är skapad (än) så behöver inte denna finnas  -->

          <!-- <div layout-gt-xs="row ">
            <md-checkbox class="checkboxpermission" value="allowNewRestaurants " ng-model="form.data.allowNewRestaurants ">Endast jag får lägga till restauranger</md-checkbox>
          </div> -->

          <!--        Alla restauranger som läggs in"              -->

          <md-chips ng-model="form.data.restaurants" name="restaurantName" readonly="true">
            <md-chip-template ng-click="removeRestaurant($chip)">
              {{$chip.name}} X
            </md-chip-template>
          </md-chips>
          <!--        Lägga till restaurang knapp"              -->

          <div id="add">
            <md-button id="addrest" class="md-raised md-primary" type="button " value="addRestaurants" ng-click="addRestaurants()">Lägg till restauranger</md-button>

            <md-button id="clear" class="md-raised md-primary" ng-click="clearForm() ">Rensa</md-button>
          </div>

          <div id="bottom">

            <md-button id="addpoll" class="md-raised md-primary" type="submit "> Skapa omröstning </md-button>

            <md-button id="cancel" class="md-raised md-primary" ng-click="cancel() ">Avbryt</md-button>

          </div>
        </form>
          <div id="dialogError" ng-show="error">Omröstningen måste ha "Namn", "Restauranger" och sluta {{hour}}:{{minute}} eller senare!</div>
      </div>
    </md-dialog-content>

  </div>
</md-dialog>
