 <md-dialog id="container" aria-label="Login">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1 ng-hide="loading">Logga in eller registrera dig</h1>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <!-- First tab wich includes the "login" page with input forms and logos -->
    <div id="login">
      <md-content id="login_form" class="md-padding">
        <label class="login-register_header">Logga in</label>
        <form name="login" ng-controller="loginUser" ng-submit="loginUser()" novalidate>
          <md-input-container>
            <label>Email</label>
            <md-icon md-svg-src="images/icons/ic_email_24px.svg"></md-icon>
            <input ng-model="email" type="email" name="email" required>
            <div ng-messages="login.email.$error" ng-if="login.email.$dirty">
              <div ng-message="required">Du måste fylla i en E-mail!</div>
            </div>
          </md-input-container>
          <br>
          <md-input-container>
            <label>Lösenord</label>
            <md-icon md-svg-src="images/icons/lock.svg"></md-icon>
            <input ng-model="password" type="password" name="password" minlength="6" required>
            <div ng-messages="login.password.$error" ng-if="login.password.$dirty">
              <div ng-message="required">Du måste fylla i ett Lösenord!</div>
              <div ng-message="minlength">Lösenordet är för kort!</div>
            </div>  
          </md-input-container>
          <br>
          <md-button id="login_button" class="md-raised md-primary" type="submit"> Logga in </md-button>
          <p ng-if=loginStatus.error>Felaktigt E-mail eller Lösenord!</p>
        </form>
      </md-content>
    </div>


    <!-- Second tab wich includes the "register" page with input forms and logos -->
    <div id="register">
      <md-content id="register_form" class="md-padding">
        <label class="login-register_header">Registrera dig</label>
        <form name="register" ng-controller="addUser" ng-submit="regUser()" novalidate>
          <md-input-container>
            <label>Namn</label>
            <md-icon md-svg-src="images/icons/ic_person_24px.svg"></md-icon>
            <input ng-model="name" type="text" name="name" md-maxlength="20" minlength="2" required>
            <div ng-messages="register.name.$error" ng-if="register.name.$dirty">
              <div ng-message="required">Du måste fylla i ett Namn!</div>
              <div ng-message="md-maxlength">Namnet får max vara 20 bokstäver!</div>
              <div ng-message="minlength">Namnet är för kort!</div>
            </div> 
          </md-input-container>
          <br>
          <md-input-container>
            <label>Email</label>
            <md-icon md-svg-src="images/icons/ic_email_24px.svg"></md-icon>
            <input ng-model="email" type="email" name="email" required>
            <div ng-messages="register.email.$error" ng-if="register.email.$dirty">
              <div ng-message="required">Du måste fylla i en Email!</div>
            </div> 
          </md-input-container>
          <br>
          <md-input-container>
            <label>Lösenord</label>
            <md-icon md-svg-src="images/icons/lock.svg"></md-icon>
            <input ng-model="password" type="password" name="password" minlength="6" required>
             <div ng-messages="register.password.$error" ng-if="register.password.$dirty">
              <div ng-message="required">Du måste fylla i ett Lösenord!</div>
              <div ng-message="minlength">Lösenordet är för kort!</div>
            </div>
          </md-input-container>
          <br>
          <md-button id="register_button" class="md-raised md-primary" type="submit"> Registrera </md-button>
          <p ng-if="regStatus.error">Det gick inte att registrera användaren. Försök igen!</p>
        </form>
      </md-content>
    </div>
  </md-dialog-content>


  <!-- Cancel buttons for sending the form and closing the window-->


  <md-dialog-actions layout="row">
    <md-button id="cancel_login-register" class="md-raised md-primary" ng-click="cancel()">
      Avbryt
    </md-button>
  </md-dialog-actions>
</md-dialog>
