<md-dialog class="poll-dialog" ng-controller="showPoll" aria-label="addPoll" ng-cloak>

  <md-dialog-content layout-padding>
    <div class="md-dialog-content">
      <div id="poll-dialog-top">
        <md-button ng-click="cancel()" aria-label="closeVoteWindow" id="close" class="md-icon-button md-primary">
          <md-icon md-svg-src="images/icons/ic_close_white_24px.svg"></md-icon>
        </md-button>

        <p id="poll-dialog-timeEnds" ng-hide="active.raw.data.hasExpired">
          [ Kl. {{active.raw.data.attributes.expires | date: 'HH:mm'}} ]</p>
        <p id="poll-dialog-timeEnds" ng-show="active.raw.data.hasExpired">Omröstningen är avslutad</p>

        <h1 id="poll-dialog-name">{{active.raw.data.attributes.name}}</h1>

      </div>
      <div id="poll-dialog-restaurants">
        <h3 id="rest-text">Restauranger:</h3> <br>
        <p ng-repeat="restaurant in active.cleaned.restaurants | orderBy:'-votes.length'" ng-click="restaurant.userVotedOnThisRestaurant || vote(restaurant.id)" class="poll-dialog-vote-object" ng-class="{ 'poll-dialoge-vote-object-has-vote' : restaurant.userVotedOnThisRestaurant, winningRestaurant: restaurant.winner}">
          <i class="material-icons md-24 thumb">thumb_up</i>
          <span>
            {{restaurant.attributes.name}}<span ng-if="restaurant.winner">Vinnare!</span><span class=number-of-votes> Röster: {{restaurant.votes.length}}</span>
          </span>
        </p>
        <!-- <p>ID: {{active}} </p>
                <p>allowNewRestaurants: {{active.raw.data.attributes.allowNewRestaurants}} </p>
                <p>created: {{active.raw.data.attributes.created}} </p>-->
      </div>
      <!--Användare:-->
      <!-- TODO: DO A NULL CHECK IN DIRECTIVE -->
      <hr>
      <div id="poll-dialog-bottom">
        <div class="poll-dialog-user" ng-repeat="user in active.cleaned.users">
          <img class="poll-user-img" title="{{user.attributes.name}}" ng-src="images/icons/ic_account.png" />
          <!-- TODO: Use code below if users ever get profile pictures -->
          <!-- <img class="poll-user-img" title="{{user.attributes.name}}" fallback-src="images/icons/ic_account.png" ng-src="{{user.attributes.photo}}" /> -->
        </div>
      </div>
      <!-- {{user.attributes.name}} -->
      <!-- Trigger -->
      <p id="share-text">Dela omröstningen</p>
      <div id="clipvboard-field">
        <button class="btn share" ngclipboard data-clipboard-target="#vote-url-field" title="Kopiera röstlänk">
          <i class="material-icons md-light copyButton">content_copy</i>
        </button>
        <!-- Så här kan man nå röstningslänken! -->
        <input id="vote-url-field" value={{active.cleaned.voteLink}}>
      </div>
      <div ng-if="!active.cleaned.userIsParticipantInPoll && !active.raw.data.hasExpired">
        <p id="join">Du är inte med i den här omröstningen, vill du gå med?</p>
        <md-button id="joinpoll_button" class="md-raised md-primary" ng-click="joinPoll()">Ja</md-button>
        <md-button id="dont_join_poll_button" class="md-raised md-primary">Nej</md-button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
