<div id="added_restaurants" ng-controller="addRestaurantsToPoll">
    <h3>Till omröstningen</h3>
    <strong>Lägg till restauranger/caféer i omröstningen genom att först klicka på markörerna och sedan plustecknet</strong>
    <form name="addPoll" ng-submit="done()">
        <md-chips ng-model="form.data.restaurants" name="restaurantName" readonly="true">
            <md-chip-template id="restaurant_name_chip" ng-click="remove($chip)">
                {{$chip.name}} x
            </md-chip-template>
        </md-chips>

        <div layout-gt-sm="row ">
            <md-button id="add_to_poll" class="md-raised md-primary" type="button" ng-click="done()"> Klar! </md-button>
        </div>
    </form>
</div>
