<!-- Side navigation filter menu -->
<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="filter">
    
    <!-- Menu title -->
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Filter</h1>
    </md-toolbar>
    <md-content layout-padding>
    <!-- Filter Menu -->
    <div ng-controller="filterController">
    <!-- Types of filter -->
        <div>
            <span class="filter-undertitle">		
                Typ av ställe/utbud
            </span>
            <md-list ng-cloak>
            </md-list>    
            <!--
            <table>
                <tr ng-repeat="row in rows">
                    <td ng-repeat="checkbox in checkboxes">{{ checkbox }}</td>
                </tr>
            </table>
            -->
            <table id="filter_menu" style="width:100%">
                <tr>
                    <td><md-checkbox class="md-primary" ng-model="truthy[0]" ng-change="toggle(1)">Sushi</md-checkbox></td>
                    <td><md-checkbox class="md-primary" ng-model="truthy[1]" ng-change="toggle(2)">Falafel</md-checkbox></td>
                </tr>
                <tr>
                    <td><md-checkbox class="md-primary" ng-model="truthy[2]" ng-change="toggle(3)">Hamburgare</md-checkbox></td>
                    <td><md-checkbox class="md-primary" ng-model="truthy[3]" ng-change="toggle(4)">Vegetariskt</md-checkbox></td>
                </tr>
                <tr>
                    <td><md-checkbox class="md-primary" ng-model="truthy[4]" ng-change="toggle(5)">Sallad</md-checkbox></td>
                    <td><md-checkbox class="md-primary" ng-model="truthy[5]" ng-change="toggle(6)">Pizza</md-checkbox></td>
                </tr>
                <tr>
                    <td><md-checkbox class="md-primary" ng-model="truthy[6]" ng-change="toggle(7)">Indiskt</md-checkbox></td>
                    <td><md-checkbox class="md-primary" ng-model="truthy[7]" ng-change="toggle(8)">Italienskt</md-checkbox></td>
                </tr>
                <tr>
                    <td><md-checkbox class="md-primary" ng-model="truthy[8]" ng-change="toggle(9)">Thailändskt</md-checkbox></td>
                    <td><md-checkbox class="md-primary" ng-model="truthy[9]" ng-change="toggle(10)">Övrigt</md-checkbox></td>
                </tr>
            </table>
        </div>
    </div>
    </md-content>
</md-sidenav>