<md-content flex>
  <div flex></div>
</md-content>

<!-- Main menu -->
<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="main">
    <!-- Main menu heading -->
    <md-toolbar class="md-theme-light md-accent">
        <span>
            <h1 class="md-toolbar-tools">Eats</h1>
        </span>
    </md-toolbar>
    
    <!-- Main menu content -->
    <md-content id="main-meny-nav" ng-controller="mainMenu" layout-padding>
        <md-list ng-cloak layout-padding>
            <!-- Link to profile page -->
            <md-list-item class="linksInMainMenu" ng-if="isUserWithValidToken" ng-click="dialogs.showPopup($event, 'profilePage', true, false)" data-target="#profilsida" md-expando>
                <p>{{ tokenData.name }}</p>
                <i class="material-icons">account_circle</i>
            </md-list-item>

            <!-- Menu section create new poll and add restaurant -->
            <md-list-item ng-click="dialogs.showPopup($event, 'createpoll', true, false)">
                <p>Skapa ny omröstning</p>
                <i class="material-icons">add</i>
            </md-list-item>
            <md-list-item id="addRestaurantButton" ng-click="toggleAddRestaurant(); dialogs.showPopup($event, 'createRestaurant', true, false);">
                <p>Lägg till restaurang</p>
                <i class="material-icons">add</i>
            </md-list-item>
            
            

            <!-- Login and log out buttons -->
            <md-button ng-if="!isUserWithValidToken" class="login md-raised" ng-click="dialogs.showPopup($event, 'login', true, false)">
                Logga in / registrera dig
            </md-button>

            <md-button ng-if="isUserWithValidToken" class="login md-raised" ng-click="logoutUser()">
                Logga ut
            </md-button>
        </md-list>
    </md-content>
    <footer>
        <p>Eats är en betatjänst skapad av CMD</p> 
        <p>Amanda, Andreas, David, Elias, Gustav, Jenny, Marcus, Musse, Natalia och Patrik.</p>
        <p><a href="http://128.199.48.244:7000/" target="_blank">API dokumentation</a></p> 
        <img src="/images/logo_white.png" id="logoEats" title="EATS logotype"/>
    </footer>
</md-sidenav>
