<div class="restaurant-marker-popup">
    <i ng-show="mode.active === 'ADD_RESTAURANTS_MODE'" ng-click="addRestaurantToPoll(id)" class="material-icons md-48" id="createPollIcons" title="Starta en ny omröstning">add_circle_outline</i>	    
    	
	<div id="image_content">
        <img ng-src="{{photo}}">	
<p><span>{{name}}</span></p>        	
    </div>		        
		        
		        

<!--
<span id="rating_stars" class="rating-static rating-{{rating}}"></span>
	<button class="trigger" id="{{id}}" ng-click="openSlideMenu(id)">Mer info</button>
	<button class="addtopollbutton" ng-show="mode.active === 'ADD_RESTAURANTS_MODE'" ng-click="addRestaurantToPoll(id)">+</button>
-->
</div>
