<section id="moreInfoMenu" ng-controller="slideMenu">
    <div flex></div>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp infomenu" md-component-id="info">
        <div id="moreInfoSlider">
            <!-- Name of restaurant -->
            <div id="restaurantname">
                <h1 class="md-toolbar-tools">{{ content.name }}</h1>
            </div>
            
           <!-- Restaurant image -->
            <md-content ng-controller="getCategory" layout-padding>
                <div id="infoImgContainer">
                    <img id="infoImg" src="{{ content.photo }}">
                </div>
               <!-- Type of food images -->      
                <div id="label">
                    <md-list-item ng-repeat="categories in restaurants" ng-if="content.id == categories.id">
                        <span ng-repeat="category in categories.categories" class="moreInfoCategoryIcon">
                            <img ng-if="!(category == '10' || category == '11')" src="../images/icons/{{category}}.png">
                        </span>
                    </md-list-item>
                </div>
                <!-- More info about the restaurant -->     
                <div id="extrainfo">
                    <md-list-item>{{ content.extra.info }}</md-list-item>
                </div>
            </md-content>
        </div>
    </md-sidenav>
</section>