<div ng-controller="addRestaurantsToPoll" style='position:absolute;top:10px;left:300px;z-index:10;padding:20px;background-color:white'>
    <b>Lägg till restauranger genom att använda kartan</b>
    <form name="addPoll" ng-submit="done()">
        <md-chips ng-model="form.data.restaurants" name="restaurantName" readonly="true">
            <md-chip-template ng-click="remove($chip)">
                <strong>{{$chip.data.attributes.name}} X</strong>
            </md-chip-template>
        </md-chips>

        <div layout-gt-sm="row ">
            <md-button class="md-raised" type="button" ng-click="done()"> Klar! </md-button>
        </div>
        <div layout-gt-sm="row ">
            <md-button class="md-raised" type="button" ng-click="add()"> add </md-button>
        </div>
    </form>
</div>
