<!-- Side navigation main menu -->
<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="main">
    
    <!-- Menu title -->
    <md-toolbar class="md-theme-light md-accent">
        <h1 class="md-toolbar-tools">Eats</h1>
    </md-toolbar>
    
    <!-- Menu content -->
    <md-content ng-controller="authJwt" layout-padding>
        <md-list ng-cloak layout-padding>
            
            <!-- Link to profile -->
            <md-list-item class="linksInMainMenu">
                <p>Christoffer</p>
                <i class="material-icons">account_circle</i>
            </md-list-item>
            
            <!-- Link to settings -->
            <md-list-item class="linksInMainMenu">
                <p>Inställningar</p>
                <i class="material-icons">settings</i>
            </md-list-item>
            
            <!-- divider -->
            <hr>
            
            <!-- Groups 
            <md-subheader class="md-no-sticky">Groups</md-subheader>
            <table>
                <tr ng-repeat="group in groups">
                    <td>{{ group }}</td>
                </tr>
            </table>-->
            
            <!-- Link to create new poll -->
            <md-list-item  ng-click="createPoll($event)">
                <p>Skapa ny omröstning</p>
                <i class="material-icons">add</i>                
            </md-list-item>
            
            <!-- Link to create new group -->
            <md-list-item ng-hide="access" ng-click="createPoll($event)">
                <p>Skapa ny grupp</p>
                <i class="material-icons">person_add</i>
            </md-list-item>
                
            <!-- Link to add restaurant -->
            <md-list-item  href="#" ng-controller="templatepopup" id="addRestaurantButton" ng-click="toggleAddRestaurant(); showAdvanced($event, 'addrestaurant'); ">
                <p>Lägg till restaurang</p>
                <i class="material-icons">add</i>
            </md-list-item>		
			
            <!-- divider -->
            <hr>
            
            <!-- Login, logout and register buttons -->
            <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
                    
                <!-- login button -->
                <md-button ng-if="access" ng-controller="templatepopup" aria-label="Login" class="login md-raised" ng-click="showTabDialog($event, 'login')"> Logga in
                </md-button>
                
                <!-- logout button -->
                <md-button ng-if="!access" ng-controller="loginUser" class="login md-raised" ng-click="logoutUser()">
                   <i class="glyphicon glyphicon-log-out"></i> Logga ut
                </md-button>
            </div>
            
        </md-list>
    </md-content>
</md-sidenav>