<!-- No idea what this does -->
<md-content flex >
    <div flex></div>
</md-content>

<!-- Side navigation main menu -->
<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="main">
    
    <!-- Menu title -->
    <md-toolbar class="md-theme-light md-accent">
        <span><h1 class="md-toolbar-tools">Eats</h1></span>
    </md-toolbar>
    
    <!-- Menu content -->
    <md-content ng-controller="authJwt" layout-padding>
        <md-list ng-cloak layout-padding>
            
            <!-- Link to profile -->
            <md-list-item href="#">
                <p>{{ name }}</p>
                <i class="material-icons">account_circle</i>
            </md-list-item>
            
            <!-- Link to settings -->
            <md-list-item href="#">
                <p>Inställningar</p>
                <i class="material-icons">settings</i>
            </md-list-item>
            
            <hr>
            
            <!-- Groups -->
            <md-subheader class="md-no-sticky">Groups</md-subheader>
            <table>
                <tr ng-repeat="group in groups">
                    <td>{{ group }}</td>
                </tr>
            </table>
            
            <!-- Other stuff in the main menu -->
            <md-subheader  class="md-no-sticky">Övrigt</md-subheader>
            
                <!-- Menu seciton create new poll and new group and add restaurant -->
                <md-list-item  ng-click="createPoll($event)">
                    <p>Skapa ny omröstning</p>
                    <i class="material-icons">add</i>
                </md-list-item>

                <md-list-item ng-hide="access" ng-click="createPoll($event)">
                    <p>Skapa ny grupp</p>
                    <i class="material-icons">person_add</i>
                </md-list-item>

                <md-list-item  href="#" ng-controller="templatepopup" id="addRestaurantButton" ng-click="toggleAddRestaurant(); showAdvanced($event, 'addrestaurant'); ">
                    <p>Lägg till restaurant</p>
                    <i class="material-icons">add</i>
                </md-list-item>		
			
            <hr>
            <div>
                <div  class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
                    <md-button ng-if="access" ng-controller="templatepopup"  class="login md-raised" ng-click="showTabDialog($event, 'login')" >
                           <i class="glyphicon glyphicon-log-in"></i> Logga in
                    </md-button>
                    <md-button ng-if="!access" ng-controller="loginUser" class="login md-raised" ng-click="logoutUser()">
                       <i class="glyphicon glyphicon-log-out"></i> Logga ut
                    </md-button>
                </div>
            </div>
            
        </md-list>
    </md-content>
</md-sidenav>